
<label for="name">
	<f:translate key="tx_werkstattsuche_domain_model_bezirk.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="kartenKoordinaten">
	<f:translate key="tx_werkstattsuche_domain_model_bezirk.karten_koordinaten" />
</label><br />
	<f:form.textarea property="kartenKoordinaten" cols="40" rows="15" /><br />
<label for="kartenBild">
	<f:translate key="tx_werkstattsuche_domain_model_bezirk.karten_bild" />
</label><br />
	<f:form.textfield property="kartenBild" /><br />