
<label for="titel">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.titel" />
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="untertitel">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.untertitel" />
</label><br />
	<f:form.textfield property="untertitel" /><br />
<label for="strasse">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.strasse" />
</label><br />
	<f:form.textfield property="strasse" /><br />
<label for="plz">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.plz" />
</label><br />
	<f:form.textfield property="plz" /><br />
<label for="ort">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.ort" />
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="telefon">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.telefon" />
</label><br />
	<f:form.textfield property="telefon" /><br />
<label for="telefax">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.telefax" />
</label><br />
	<f:form.textfield property="telefax" /><br />
<label for="email">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="website">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.website" />
</label><br />
	<f:form.textfield property="website" /><br />
<label for="kontaktBeruflicheRehabilitation">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.kontakt_berufliche_rehabilitation" />
</label><br />
	<f:form.textarea property="kontaktBeruflicheRehabilitation" cols="40" rows="15" /><br />
<label for="kontaktAuftraggeber">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.kontakt_auftraggeber" />
</label><br />
	<f:form.textarea property="kontaktAuftraggeber" cols="40" rows="15" /><br />
<label for="foerderbereich">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.foerderbereich" />
</label><br />
	<f:form.checkbox property="foerderbereich" value="1" /><br />
<label for="aBFBT">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.a_b_f_b_t" />
</label><br />
	<f:form.checkbox property="aBFBT" value="1" /><br />
<label for="werkstattladen">
	<f:translate key="tx_werkstattsuche_domain_model_werkstatt.werkstattladen" />
</label><br />
	<f:form.textfield property="werkstattladen" /><br />